/* --------------------------------------
=========================================
COLOR : GREEN 

MAIN COLOR CODE: #00ab66

DEEP COLOR CODE: #0c794d
=========================================
----------------------------------------- */

.color-overlay {
    background: rgba(92, 255, 0, 0.6);/*rgba(0, 171, 102, 0.6);*/
}

.standard-button {
    background: #0c794d;
}

.standard-button2 {
    background: #8ae949;
    color: #0C794D;
}

.standard-button2:hover {
    background: #0c794d;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #0c794d;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #5CFF00;
}

.main-color {
    color: #4DAC14;
}

.color-bg {
	background: #64C129;
	color: #FFFFFF;
}

.light-color-bg {
    background: #c7e6b6 !important;
}

.features .feature:hover .icon-container .icon {
    background: #5CFF00;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #5CFF00;
            box-shadow: 0px 0px 0px 2px #5CFF00;
}

.features .feature .icon-container .icon {
    border: 1px solid #5CFF00;
    color: #5CFF00;
}

.feature-list li i {
    color: #5CFF00;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #5CFF00;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #5CFF00;
}

footer .contact-button {
    border: 2px solid #59ca3a;
    color: #0c794d;
    background: #8ae949;
}

footer .contact-button:hover {
    background: #7bd73c;
    color: #eeeeee;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #5CFF00;
    box-shadow: 0 0 4px #5CFF006e;
}

footer .social-icons li a:hover {
    color: #5CFF00;
}

/*** change logo color from blue to grey***/

footer div.container img.responsive-img {
    -webkit-filter : hue-rotate(316deg) saturate(50%) contrast(160%);
    filter : hue-rotate(316deg) saturate(50%) contrast(160%);
}
